@use 'tool' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.5;
    font-family: var(--font-inter), sans-serif;
    -webkit-font-smoothing: antialiased;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

:focus {
    outline: none;
}

img,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
    height: auto;
}

table {
    border-collapse: collapse;
    width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
    color: inherit;
    background: none;
    border: none;
    outline: none;
}

button {
    cursor: pointer;
}

fieldset {
    border: 0;
    padding: 0;
    margin: 0;
}

legend {
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font: inherit;
    font-weight: bold;
}

blockquote,
pre {
    all: unset;
    white-space: pre-wrap;
}

article,
aside,
footer,
header,
nav,
section {
    display: block;
}

html {
    // font-size: 62.5%;
    font-size: dynamicOnWidth(10px, 375px);

    @include tablet {
        font-size: dynamicOnWidth(10px, 1024px);
    }

    @include laptop {
        font-size: dynamicOnWidth(10px, 1920px);
    }
}

html.lenis,
html.lenis body {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    // overflow: hidden;
}

.lenis.lenis-scrolling iframe {
    pointer-events: none;
}

a,
button {
    cursor: pointer;

    > * {
        cursor: pointer;
    }
}

input[type='number'] {
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    -moz-appearance: textfield;
}
